Auto_send_platform/Web References/WebReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExePro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="proInstr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExeProResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExeProResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HisExePro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="proInstr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HisExeProResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HisExeProResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExeProSoapIn">
    <wsdl:part name="parameters" element="tns:ExePro" />
  </wsdl:message>
  <wsdl:message name="ExeProSoapOut">
    <wsdl:part name="parameters" element="tns:ExeProResponse" />
  </wsdl:message>
  <wsdl:message name="HisExeProSoapIn">
    <wsdl:part name="parameters" element="tns:HisExePro" />
  </wsdl:message>
  <wsdl:message name="HisExeProSoapOut">
    <wsdl:part name="parameters" element="tns:HisExeProResponse" />
  </wsdl:message>
  <wsdl:message name="ExeProHttpGetIn">
    <wsdl:part name="proName" type="s:string" />
    <wsdl:part name="proInstr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExeProHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HisExeProHttpGetIn">
    <wsdl:part name="proName" type="s:string" />
    <wsdl:part name="proInstr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HisExeProHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ExeProHttpPostIn">
    <wsdl:part name="proName" type="s:string" />
    <wsdl:part name="proInstr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExeProHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HisExeProHttpPostIn">
    <wsdl:part name="proName" type="s:string" />
    <wsdl:part name="proInstr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HisExeProHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ExePro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">舒心就医平台调用his接口,返回参数:xml串</wsdl:documentation>
      <wsdl:input message="tns:ExeProSoapIn" />
      <wsdl:output message="tns:ExeProSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HisExePro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">his调用舒心就医平台接口,返回参数:xml串</wsdl:documentation>
      <wsdl:input message="tns:HisExeProSoapIn" />
      <wsdl:output message="tns:HisExeProSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="ExePro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">舒心就医平台调用his接口,返回参数:xml串</wsdl:documentation>
      <wsdl:input message="tns:ExeProHttpGetIn" />
      <wsdl:output message="tns:ExeProHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="HisExePro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">his调用舒心就医平台接口,返回参数:xml串</wsdl:documentation>
      <wsdl:input message="tns:HisExeProHttpGetIn" />
      <wsdl:output message="tns:HisExeProHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="ExePro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">舒心就医平台调用his接口,返回参数:xml串</wsdl:documentation>
      <wsdl:input message="tns:ExeProHttpPostIn" />
      <wsdl:output message="tns:ExeProHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="HisExePro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">his调用舒心就医平台接口,返回参数:xml串</wsdl:documentation>
      <wsdl:input message="tns:HisExeProHttpPostIn" />
      <wsdl:output message="tns:HisExeProHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExePro">
      <soap:operation soapAction="http://tempuri.org/ExePro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HisExePro">
      <soap:operation soapAction="http://tempuri.org/HisExePro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExePro">
      <soap12:operation soapAction="http://tempuri.org/ExePro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HisExePro">
      <soap12:operation soapAction="http://tempuri.org/HisExePro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ExePro">
      <http:operation location="/ExePro" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HisExePro">
      <http:operation location="/HisExePro" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ExePro">
      <http:operation location="/ExePro" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HisExePro">
      <http:operation location="/HisExePro" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.66.2.115:8006/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.66.2.115:8006/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://10.66.2.115:8006/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://10.66.2.115:8006/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>